.heatmapContainerWrapper  { 
    /* width:50%;  */
    /* height:500px;  */
    align-self: center;
    /* position:absolute;  */
    width: 367px;
    height: 250px;
    margin: 0 auto;

}
.heatmap2ContainersWrapper  { 
    /* width:50%;  */
    /* height:500px;  */
    align-self: center;
    /* position:absolute;  */
    /* width: 367px;
    height: 250px; */
    margin: 0 auto;
    width: 740px; 
    overflow: hidden;
}

 .heatmapContainerWrapperLeft, .heatmapContainerWrapperRight  { 
    /* width:50%;  */
    /* height:500px;  */
    align-self: center;
    /* position:absolute;  */
    width: 367px;
    height: 250px;
    /* margin: 0 auto; */

}
.heatmapContainerWrapperLeft  { 
    float: left;

}
.heatmapContainerWrapperRight  { 
    margin-left: 373px;

}
.heatmapContainer{ 
    width: 367px;
    height: 250px;
     /* height:100%; */
     /* margin: 0 auto; */
}

.heatmapContainer img{ 
    /* width:100%; 
    height:100%; */
    width: 367px;
    height: 250px;
    /* margin: 0 auto; */

}

.heatmap-canvas {
    width: 367px;
    height: 250px;
}






/*==================================*/
.heatmapContainer .overlay {
    width:100%;
    height:100%;
    /* background:rgba(0,0,0,.5); */
    color: lightgrey;
    font-size: smaller;
    position:absolute;
    top:0;
    left:0;
    display:inline-block;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
 
 }

h1, h2 {
    text-align: center;
}
body {
    background-color:#c9f8b7;
}