<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Тепловые карты</title>
    <!-- <link rel="stylesheet" href="peflembedded/min/hmsheet.css"> -->
    <link rel="stylesheet" href="stylesheets/hmsheet.min.css">
    <link rel="icon" href="images/faviconka_hm.ico" type="image/x-icon">
    <link rel="shortcut icon" href="images/faviconka_hm.ico" type="image/x-icon">
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->

</head>

<body>
    <div class="loader-wrapper">
        <div class="loader">

        </div>
        <img src="http://pefl.ru/skins/refl/img/pefl.gif" alt="P">
    </div>
    <div class="copyright"><a href="http://pefl.ru/users.php?m=details&id=13035" target="_blank"
            rel="noopener noreferrer"> ©Sullen</a></div>
    <header id="url-сontainer">
        <section class="main-section">
            <input type="checkbox" class="bojan__control" id="other-refs">
            <label class="bojan__label" for="other-refs">
                <h3 class="bojan__label__header">Управление ссылками</h3>
            </label>

            <div class="bojan__content">
                <!-- <button id="pasteButton">Вставить из буфера обмена</button> -->
                <div class="refs-container">
                    <input type="url" name="tv-url-input" id="tv-url-input"
                        placeholder="Вставьте сюда ссылку на ТВ-трансляцию">
                    <div class="button-wrap">
                        <button id="updateButton">Открыть</button>
                        <button id="newWindow">Открыть в новом окне</button>
                    </div>
                </div>
            </div>
        </section>
    </header>
    <div class="clear"></div>
    <section class="main-section">
        <input type="checkbox" class="bojan__control" id="main-heatmaps" checked=checked>
        <label class="bojan__label" for="main-heatmaps">
            <h3 class="bojan__label__header">Тепловые карты матча</h3>
        </label>
        <div class="bojan__content">
            <h4 id="game-info">game info<span></span></h4>
            <div class="heatmap-container-wrapper">
                <div class="heatmap-container" id="heatmap-ball">
                    <img src="images/littleField.png" alt="">
                    <div class="overlay">Мяч</div>

                    <div id="player_default_away" title="" class="player_container medium_size"
                        style="top: 14px; left: 341.56px; z-index: 2; opacity: 1;display:none">
                        <div class="player_shape away">
                            <div class="player_number">8</div>
                            <div class="tooltiptext">Away player</div>
                        </div>
                    </div>
                    <div id="player_default_home" title="" class="player_container medium_size"
                        style="top: 224.5px; left: 14px; z-index: 2; opacity: 1; display:none">
                        <div class="player_shape home">
                            <div class="player_number">88</div>
                            <div class="tooltiptext">Home player</div>
                        </div>
                    </div>

                </div>

            </div>
            <h4></h4>
            <div class="heatmap2-containers-wrapper">
                <div class="heatmap-container-wrapper">
                    <div class="heatmap-container" id="heatmap-home">
                        <img src="images/littleField.png" alt="">
                        <div class="overlay">Хозяева</div>
                    </div>

                </div>
                <div class="heatmap-container-wrapper">
                    <div class="heatmap-container" id="heatmap-away">
                        <img src="images/littleField.png" alt="">
                        <div class="overlay">Гости</div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <section class="main-section">
        <input type="checkbox" class="bojan__control" id="average-positions">
        <label class="bojan__label" for="average-positions">
            <h3 class="bojan__label__header">Средние позиции игроков</h3>
        </label>
        <div class="bojan__content">
            <div class="heatmap3-containers-wrapper">
                <div class="heatmap-container-wrapper">
                    <div class="heatmap-container" id="heatmap-avgHome">
                        <img src="images/littleField.png" alt="">
                        <div class="overlay">Хозяева. Средние позиции основы.</div>
                    </div>

                </div>
                <div class="heatmap-container-wrapper">
                    <div class="heatmap-container" id="heatmap-avgAway">
                        <img src="images/littleField.png" alt="">
                        <div class="overlay">Хозяева. Средние позиции основы</div>
                    </div>

                </div>
                <div class="heatmap-container-wrapper">
                    <div class="heatmap-container" id="heatmap-avgBoth">
                        <img src="images/littleField.png" alt="">
                        <div class="overlay">Средние позиции</div>
                    </div>

                </div>
            </div>
        </div>

    </section>

    <section class="main-section">
        <input type="checkbox" class="bojan__control" id="squads">
        <label for="squads" class="bojan__label">
            <h3 class="bojan__label__header">Составы команд</h3>
        </label>
        <div class="bojan__content">
            <div class="squadAndShots-containers-wrapper">
                <div class="squad-wrapper-left">
                    <div class="squadContainer" id="squadHome">
                    </div>
                </div>
                <div class="squad-wrapper-right">
                    <div class="squadContainer" id="squadAway">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="main-section">
        <input type="checkbox" class="bojan__control" id="shots-chalkboard">
        <label for="shots-chalkboard" class="bojan__label">
            <h3 class="bojan__label__header">Карта ударов</h3>
        </label>
        <div class="bojan__content">
            <div style="text-align: center;">
                <p class="shotFilters">
                    <a href="#" id="filterGoals" data-type="G" style="font-weight: bold;"> Голы |</a>
                    <a href="#" id="filterStvor" data-type="V" style="font-weight: bold;"> В створ |</a>
                    <a href="#" id="filterMiss" data-type="U" style="font-weight: bold;"> Мимо |</a>
                    <a href="#" id="filterBlocks" data-type="Block" style="font-weight: bold;"> Блокированные |</a>
                    <a href="#" id="filterBars" data-type="B" style="font-weight: bold;"> Штанги/перекладины |</a>
                    <a href="#" id="filter-show-all" style="font-weight: bold;"> Показать все</a>
                </p>
            </div>

            <div class="shots-container-wrapper" data-homes="0" data-aways="0" data-players="all">
                <div class="shots-container" id="chalkboard">
                    <img src="images/bigField.png" alt="">
                    <div class="overlay">Меловая доска ударов
                        <div id="one-shot-legend" style="display: none;">
                        </div>
                    </div>
                </div>
                -
            </div>
            <div class="clear"></div>
        </div>
    </section>
    <section class="main-section">
        <input type="checkbox" class="bojan__control" id="home-tacticks-heatmaps">
        <label for="home-tacticks-heatmaps" class="bojan__label">
            <h3 class="bojan__label__header">Тепловые карты для разных тактик. Хозяева</h3>
        </label>
        <div class="bojan__content"></div>
        </div>
    </section>
    <section class="main-section">
        <input type="checkbox" class="bojan__control" id="away-tacticks-heatmaps">
        <label for="away-tacticks-heatmaps" class="bojan__label">
            <h3 class="bojan__label__header">Тепловые карты для разных тактик. Гости</h3>
        </label>
        <div class="bojan__content"></div>
    </section>
    <section class="main-section">
        <input type="checkbox" class="bojan__control" id="separate-heatmaps">
        <label for="separate-heatmaps" class="bojan__label">
            <h3 class="bojan__label__header">Теплокарты и средние позиции отдельных игроков</h3>
        </label>
        <div class="bojan__content"></div>
    </section>
    <section class="main-section">
        <input type="checkbox" class="bojan__control" id="common-tooltips">
        <label for="common-tooltips" class="bojan__label">
            <h3 class="bojan__label__header">Помощь</h3>
        </label>
        <div class="bojan__content">
            <article class="help-rule">
                <article class="help-rule">
                    <h3 class="help-rule__header">Тепловые карты</h3>
                    <p class="help-rule__paragraph">Теплокарты мяча показывают в каких частях поля чаще находился мяч.
                    </p>
                    <p class="help-rule__paragraph">Теплокарты команд показывают где чаще находились все игроки команды.
                    </p>
                    <p class="help-rule__paragraph">Индивидуальные теплокарты выделяют зоны в которых чаще находился
                        конкретный игрок .</p>
                </article>
                <article class="help-rule">
                    <h3 class="help-rule__header">Управление ссылками</h3>
                    <p class="help-rule__paragraph">С данной страницы можно просмотреть инфографику для любого матча,
                        доступ к ссылке на тв-отчет которого у Вас есть. Для этого нужно скопировать эту сохраненную
                        ссылку либо с помощью контекстного меню(на ПК вызывается правой кнопкой мыши), вызванного на
                        иконке ТВ-трансляции на ПЕФЛ .
                    </p>
                    <p class="help-rule__paragraph">Далее нужно вставить в соответсвущее поле и выбрать одну из кнопок:
                        открывать в этом же окне или в новом.
                    </p>
                </article>
                <article class="help-rule">
                    <h3 class="help-rule__header">Средние позиции</h3>
                    <p class="help-rule__paragraph">Средняя позиция игрока вычисляется как среднее арифметическое точек
                        на которых он появляется в отчете. Поэтому перемещения игрока во время замен могут вносить
                        погрешность, если игрок в матче или отдельной тактике отыграл недолго.</p>
                    <p class="help-rule__paragraph">По умолчанию на общих,индивидуальных картах средних позиций и картах
                        для отдельных тактик отображаются игроки основы. Для отображения/скрытия игрока на всех картах
                        средних позиций воспользуйтесь разделом "Составы команд".</p>
                    <p class="help-rule__paragraph">При наведении мыши на "колобка" появляется подсказка с его именем.
                    </p>
                </article>
                <article class="help-rule">
                    <h3 class="help-rule__header">Составы команд</h3>
                    <p class="help-rule__paragraph">Нажатие по имени игрока позволяет отбразить или скрыть его "колобка"
                        на картых средних позиций. Жирным шрифтом показывается игрок, который в данный момент
                        отображается</p>
                    <p class="help-rule__paragraph">Синие и красные стрелки отображают заменных и вышедших на замену
                        игроков.</p>
                    <p class="help-rule__paragraph">В строке игрока отбражаются удары, разделенные символом "|". Удары|В
                        створ|Голы|Блокированые|Попадание в штангу или перекладину. Об этом так же говорит всплывающая
                        подсказка.</p>
                    <p class="help-rule__paragraph">Чексбоксы отдельного игрока позволяют отобразить на доске ударов
                        удары только одного или нескольких выбранных игроков. Если все чекбоксы сброшены, то
                        отображаются все удары команды </p>
                    <p class="help-rule__paragraph">Пробег за матч рассчитывается для ширины поля 105м.</p>
                </article>

                <article class="help-rule">
                    <h3 class="help-rule__header">Доска ударов</h3>
                    <p class="help-rule__paragraph">Удары хозяев отображены справа , гостей - слева.</p>
                    <p class="help-rule__paragraph">Меню над доской ударов позволяет показать/скрыть типы ударов. Жирным
                        шрифтом выделены типы ударов, отображаемые в данный момент.</p>
                    <p class="help-rule__paragraph">Типы ударов выделены разным цветами. Красный - голы, желтый - удары
                        в створ, Синий - удары мимо, Черный - блокированные удары, а так же попадания в каркас.</p>
                </article>
                <article class="help-rule">
                    <h3 class="help-rule__header">Разбиение по тактикам</h3>
                    <p class="help-rule__paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde
                        accusamus
                        voluptatibus doloremque ipsam repudiandae iure minus. Neque aperiam ad dolor molestias, rem,
                        fuga
                        totam id non earum recusandae dignissimos laudantium.</p>
                    <p class="help-rule__paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde
                        accusamus
                        voluptatibus doloremque ipsam repudiandae iure minus. Neque aperiam ad dolor molestias, rem,
                        fuga
                        totam id non earum recusandae dignissimos laudantium.</p>
                    <p class="help-rule__paragraph">Lorem ipsum dolor sit amet consectetur
                        adipisicing elit. Unde accusamus voluptatibus doloremque ipsam repudiandae iure minus. Neque
                        aperiam
                        ad dolor molestias, rem, fuga totam id non earum recusandae dignissimos laudantium.</p>
                </article>
                <article class="help-rule"></article>
                <h3 class="help-rule__header">Общие вопросы</h3>
                <p class="help-rule__paragraph">Оптимально использовать данную инфографику на ПК либо планшетах более
                    768 пикселей. На более узком экране карта ударов полностью доступна лишь при уменьшинии масштаба
                    отображения. </p>
                <p class="help-rule__paragraph">При просмотре на смартфоне желательно использовать его в альбомной
                    ориентации. При
                    ширине экрана ниже 375 пикселей возможно некорретное позиционирование теплокарт и средних позиций
                </p>
                <p class="help-rule__paragraph">К возможным багам и неточностям отображения, особенно на карте ударов,
                    просьба относиться с пониманием. Данный продукт экспериментальный и поддерживается бесплатно на
                    общественных началах.</p>
            </article>
        </div>
    </section>
    <!-- <script src="javascripts/heatmap.min.js"></script> -->

    <script src="javascripts/hm.js"></script>
</body>

</html>