/* @import "./mainsheet.css"; */
/* @import "./players.css"; */
/* @import "src/stylesheets/players.css"; */

#url-container {
    align-content: center;
    width: 100%;
    margin: 0 auto;
}

/* #url-сontainer>div {
    width: 90%;
    margin: 0 auto;
} */

/* #url-сontainer input {
    width: 33em;
    margin: 3px;
    padding: 0;
    float: left;
}

#url-сontainer button {
    margin: 3px;
    padding: 0;
    width: 12em;
    float: left
} */

#updateButton,
#pasteButton,
#newWindow {
    margin: .2em;
    padding: .4em;
    width: 30%;
    min-width: 11em;
    display: flex;
    justify-content: center;

}

.refs-container {
    min-width: 90%;
    width: 95%;
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
}

.button-wrap {
    display: flex;
    flex-grow: 1;
    /* margin: 0.5em; */
    justify-content: flex-start;
    align-items: stretch;
}

#tv-url-input {
    display: flex;
    flex-grow: 3;
    margin: .3em;
    padding: .3em;
    min-width: 50%;
}
@media screen and (max-width:769px) {
    #tv-url-input {
        min-width: 90%;
    }
    .button-wrap {
        justify-content: space-around;
        margin: 0.5em;
    }
}
/*---------------------------------------------------------  */
.heatmap-container-wrapper {
    /* width:50%;  */
    /* height:500px;  */
    align-self: center;
    /* position:absolute;  */
    width: 367px;
    height: 250px;
    margin: .2em;
    /* margin: .3em auto; */

}

.heatmap-containers-wrapper {
    /* width: 1150px; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: .4em auto;
    overflow: hidden;
    align-self: center;
    flex-wrap: wrap;
}

.heatmap2-containers-wrapper,
.heatmap3-containers-wrapper,
.squadAndShots-containers-wrapper,
.shots-container-wrapper {
    align-self: center;
    margin: .4em auto;
    /* width: 760px; */
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}

.heatmap3-containers-wrapper,
.heatmap2-containers-wrapper {
    margin-bottom: 1.5em;
}


.squadAndShots-containers-wrapper {
    /* width: 850px; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}

.shots-container-wrapper {
    /* width: 754px; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}

.heatmap-container-wrapper-left,
.heatmap-container-wrapper-right,
.thirdHeatmap,
.squadContainer,
.shots-container-wrapperrRight {
    align-self: center;
    width: 367px;
    /* height: 267px; */
    height: 250px;
    margin: .3em 0;

}

.heatmap-container-wrapper-left,
.heatmap-container-wrapper-right {
    display: flex;

}

.shots-container-wrapper-right {
    width: 754px;
    height: 500px;
}

.squadContainer>div {
    width: 100%;
    margin: 1px 0 5px 0;
}

.playerRow:nth-child(odd) {
    background-color: #C9F8B7;
}

.player-list-mileage,
.player-list-num,
.player-list-name,
.player-list-eye,
.player-list-shots,
.playerShotCheckbox {
    float: left;
    background-color: inherit;
    padding: 0 1px 1px 0;
    white-space: pre-wrap;
    height: 1.2em;
}

.playerRow .player-list-mileage {
    width: 14%;
    text-align: right;
}

.playerRow .player-list-eye {
    width: 8%;
}

.playerRow .playerShotCheckbox {
    width: 7%;
    align-content: center;
    text-align: center;
    /* cursor:pointer  */
}

.playerRow .player-list-shots {
    width: 18%;
}

.playerRow .player-list-name {
    width: 45%;
}

.playerRow .player-list-num {
    width: 7%;
    /* display: inline; */
    text-align: right;
}

.playerShotCheckbox input {
    margin: 0;
}

.heatmap-container-wrapper-left,
.squad-wrapper-left,
.heatmap-container-wrapper-right,
.shots-container-wrapper-right,
.thirdHeatmap,
.squad-wrapper-right {
    float: left;
}

.heatmap-container {
    width: 367px;
    height: 250px;
    /* height:100%; */
    /* margin: 0 auto; */
}

.shots-container,
.shots-container .heatmap-canvas {
    width: 754px;
    height: 500px;
}

.squadContainer,
.squad-wrapper-left,
.squad-wrapper-right {
    width: 360px;
    height: 280px;
}

.squad-wrapper-left,
.squad-wrapper-right {
    min-width: 360px;
    display: flex;

}

.heatmap-container img {
    width: 367px;
    height: 250px;
    margin-right: auto;
    margin-left: auto;
}


/*=========================================================*/
.heatmap-canvas {
    width: 367px;
    height: 250px;
}

.clear,
.heatmap2-containers-wrapper {
    clear: both;
}

.heatmap2-containers-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

/*==================================*/
.heatmap-container .overlay,
.shots-container .overlay {
    width: 100%;
    height: 100%;
    /* background:rgba(0,0,0,.5); */
    color: lightgrey;
    font-size: small;
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}