.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}


.help-rule__header {
    margin-bottom: 0.5em;
}
.help-rule__paragraph {
    font-family: Verdana,arial,Tahoma,Verdana,Arial,Helvetica;
    font-weight: 300;
    font-size: 1.2em;
    line-height: 1.5;
    margin: .7em 2em;

}
.help-rule__paragraph::first-letter {
margin-left: 1.8em;
}

@media screen and (max-width:769px) {
    .help-rule__paragraph {
        margin: .7em 1em;
    }
}